{% load static %}
<header id="headercontent">

<img src='{% static 'zaid/img/logoeng.png' %}' height='80'>

<img class='xs-hidden logoarb' src='{% static 'zaid/img/logoarb.png' %}' height='80' style='float:right;'>

<div class='contactheader xs-hidden'>

<span>Contact Us</span><br>

<span class='contactnumber'>+91-9980692112</span>

</div>

<div class='menuholder xs-visible'>

<div class='menu' id='menubars'>

<div class='linebar'></div>
<div class='linebar'></div>
<div class='linebar'></div>

</div>

</div>

</header>