{% load static %}
<div id="menutoggle" class="nav hide">

<ul>

<li>
<a id='index' href="{% url 'index' %}">HOME</a>
</li>

<li>
<a  id='about' href="{% url 'about' %}">BIO</a>
</li>

<li class='dropdown'>
<div id='toggle' class='xs-visible' style='float:right;'><img id='arrowtoggle' class='arrowimg1' src="{% static 'nexrise/img/arrow.png' %}"></div>

<a id='event' href="{% url 'events' %}">PERSONAL TRAINING</a>

<div id='togglee' class='a dropdown-content'>

<a href="{% url 'ce1' %}">Project Management and Leadership Expo<br>2018<br>Zurich, Switzerland</a>
<a href="{% url 'ce2' %}">Technology Transformation Conference<br>2018<br>Sweden</a>
<a href="{% url 'ce3' %}">The Future Management, Leadership and Knowledge Summit<br> 2018<br>InterContinental Dubai - United Arab Emirates</a>
<a href="{% url 'ce4' %}">Global Human Resource & Leadership Summit <br> 2018<br>Switzerland</a>
<a href="{% url 'ce5' %}">Small Consortium Expo 2018 - Bahrain</a>
<a href="{% url 'ce6' %}">Global Education Conclave 2018<br>Zurich, Switzerland</a>
<a href="{% url 'events' %}">UPCOMING EVENTS</a>
<a href="#"></a>
</div>
</li>

<li>
<a  id='about' href="{% url 'about' %}">GALLERY</a>
</li>

<li>
<a id='contact' href="{% url 'contact' %}">CONTACT</a>
</li>

</ul>

</div>
